  /* write your css styles below */
  * {
    margin: 0;
    padding: 0;
  }
  
  /* ----------------------------- */
  .left {
    display: grid;
    grid-template-rows: 100px 600px 100px;
  }
  .grid-header {
    background-color: hotpink;
  }
  .grid-main {
    background-color: blueviolet;
  }
  .grid-footer {
    background-color: orangered;
  }
  .grid-sidebar {
    background-color: greenyellow;
    grid-row: span 3;
  }
  .grid-container {
    display: grid;
    grid-template-columns: 55% 45%;
  }
